asgiref
Django
pytz
sqlparse
Pillow
social-auth-app-django
django-environ
requests
psycopg2-binary
django-debug-toolbar
django-debug-toolbar-template-profiler
django-extensions
pydotplus
graphviz
locust